<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ClubhouseUrlConfig" translate="label" sortOrder="2">
            <label>Clubhouse Url Config</label>
        </tab>
        <section id="ClubhouseUrlConf" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Url Config</label>
            <tab>ClubhouseUrlConfig</tab>
            <resource>Magento_Backend::admin</resource>
            <group id="ClubhouseConfigGroup" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Clubhouse URL Field Configuration</label>
                <field id="urlConfig" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide/Show Field</label>
                    <source_model>DGTERA\Clubhouse\Model\Config\Source\ConfigSource</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
